<footer class="footer">
  <div class="footer-top">
      <div class="container">
          <div class="row">
              <div class="col-md col-lg-3">
                  <div class="footer-item">
                      <h3 class="footer-logo"><span>Coffee</span>TEK</h3>
                      <ul>
                          <li><a href="#">about </a></li>
                          <li><a href="#">what we offer </a></li>
                          <li><a href="#">careers </a></li>
                          <li><a href="#">certificates </a></li>
                          <li><a href="#">blog </a></li>
                      </ul>
                  </div>
              </div>

              <div class="col-md col-lg-3">
                  <div class="footer-item">
                      <h3>learning</h3>
                      <ul>
                          <li><a href="#">get the app</a></li>
                          <li><a href="#">testimonials</a></li>
                          <li><a href="#">pricing</a></li>
                          <li><a href="#">faq</a></li>
                      </ul>
                  </div>
              </div>

              <div class="col-md col-lg-3">
                  <div class="footer-item">
                      <h3>more</h3>
                      <ul>
                          <li><a href="#">affiliates</a></li>
                          <li><a href="#">become a course creater</a></li>
                          <li><a href="#">traning webinars</a></li>
                          <li><a href="#">free personality test </a></li>
                          <li><a href="#">help and support</a></li>
                      </ul>
                  </div>
              </div>

              <div class="col-md col-lg-3">
                  <div class="footer-item">
                      <h3>get in touch</h3>
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook social-icon"></i> facebook</a></li>
                          <li><a href="#"><i class="fa fa-twitter social-icon"></i> twitter</a></li>
                          <li><a href="#"><i class="fa fa-instagram social-icon"></i> instgram</a></li>
                          <li><a href="#"><i class="fa fa-youtube social-icon"></i> youtube</a></li>
                          <li><a href="#"><i class="fa fa-linkedin social-icon"></i> linkedin</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
      <div class="container">
          <p class="m-0 py-4 text-center">&copy; Copyright 2022</p>
      </div>
  </div>
</footer>

