<div class="all ">
  <div class="container pad col-lg-1  ">
    <div class="layer row">
      <div class="custom col-lg-1" >
        <h2 class="NAME mb-4 ">CoffeeTEK</h2>
        <span class="fs-2 mb-5">We don’t make your coffee. We make your day.</span>
        <div class="buttons my-5">
          <button routerLink="/login" class="btnbg py-2 mx-4">Log In&nbsp;</button>
          <button routerLink="/signup" class="btnbg mx-4 py-2">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
