.form-control.ng-touched.ng-invalid{
  border: 1px solid red;
}

.form-control.ng-touched.ng-valid{
  border: 1px solid green;
}
.btnbg{
  background-color: burlywood;
  border-radius: 10px;
  padding: 15px 22px 12px 20px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 20px 30px 20px 30px;
}
.all{
  height: 100vh;
  background-image: url("../../../assets/images/go.jpg ");
  background-size: 100% 100%;
  background-repeat:no-repeat ;
  color: white;


}
.pad{
  padding-top: 150px;
}
.box{
  /* background-color: burlywood; */
  backdrop-filter: blur(12px) ;
  --webkit-backdrop-filter: blur(12px);
  /* margin-top: 300px; */
  width: 50%;
  margin: auto;
  /* height: 600px; */
  border-radius: 50px;
}
.custom{

  height: 500px;
  padding-top: 50px;


}
.extend{
  width:20%;
  height: 40px;
}
