
<div class="all">
  <div class="container bgc m-auto ">
    <div class=" m-auto text-white">
      <img class="image" src="../../../assets/images/Circle-icons-profile.svg.png" alt="">

      <table>

          <!-- <img src="../../../assets/images/Circle-icons-profile.svg.png" alt=""> -->

        <tr>
          <td >User Name: </td>
          <td class="ps-2"> {{username}}</td>
        </tr>
        <tr>
          <td>Your Email:</td>
          <td> {{email}}</td>
        </tr>

      </table>

    </div>
  </div>
</div>
